@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
  overflow-y: hidden;
  gap: 10px;
}

.video-player {
  position: relative;
  height: 600px;
  width: 60vi;
}

.video-controls {
  /* position: absolute; */
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-button {
  background: none;
  border: none;
  cursor: pointer;
}

.video-button:focus {
  outline: none;
}

.playlist {
  overflow-y: auto; 
}

/* For Webkit browsers like Chrome and Safari */
.playlist::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.playlist::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

/* For Firefox */
.playlist {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.5) black;
}

/* For Internet Explorer 10+ */
.playlist {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.playlist-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.playing {
  background-color:#333;
}

.playlist-thumbnail {
  flex-shrink: 0;
  width: 120px;
  height: 80px;
  margin-right: 10px;
}

.playlist-details {
  flex-grow: 1;
}

.video-title {
  color: #aaa;
  font-size: 1em;
  margin-right: 100px;
}

.video-title-playing {
  color: #fff;
  font-weight: 700;
}

.video-subtitle {
  font-size: 0.8em;
  color: #666;
}

.playlist-remove-button {
  margin-right: 10px;
}

.add-video-form-container {
  width: 350px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
}

.close-modal-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px
}

.close-modal-button:hover {
  background-color: #b30000;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

